.article-details {

  .article-header {
    @apply h-auto w-full flex flex-col gap-11 items-start justify-start relative mb-16;

    .bg {
      @apply absolute hidden sm:block bg-beige-500 w-full h-[460px] top-0 left-0 z-0;
    }

    .bread-crumb {
      @apply bg-beige-900 h-[50px] w-full z-10;

      .links-wrapper {

        @apply flex flex-row justify-start items-center h-full gap-2 z-10;

        .link {

          @apply text-[16px] text-greydark-500;

          &.active {
            @apply text-primary-500 hidden sm:flex;
          }
        }

        .chev {
          width: 7px;
          height: 12px;
          background-image: url('/images/icons/breadcrumb-chev-right.svg');
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
    }

    .date-row {
      @apply flex flex-row justify-between items-center z-10;

      .date {
        @apply text-lg text-greydark-500;
      }

      .share {
        @apply flex flex-row items-center justify-between gap-8;

        span {
          @apply text-lg text-greydark-500 hidden sm:flex;
        }

        .icon {
          width: 30px;
          height: 30px;

          img {
            width: 30px;
            height: 30px;
            object-fit: contain;


          }
        }
      }
    }

    .title {
      @apply z-10;

      h2 {
        @apply text-primary-900;
        font-size: 60px;
        font-weight: bold;
        @apply tracking-[-3px] rtl:tracking-normal;
        line-height: 0.95;
      }
    }

    .image {
      @apply z-10;

      img {
        @apply sm:max-w-2xl h-auto w-full;
      }
    }

  }

  .article-body {
    @apply text-gray-500 text-xl mb-32;

    p {
      margin-bottom: 10px;
    }

    img {
      @apply max-w-xl h-auto my-12;
    }
  }
}