.training-certificates {

  @apply py-20 mb-36;

  .wrapper {
    @apply flex h-full flex-col mx-auto items-center justify-center mt-24;

    .title {
      width: auto;
      margin-bottom: 127px;

      h2 {
        font-size: 60px;
        font-weight: bold;
       @apply tracking-[-3px] rtl:tracking-normal;
        line-height: 0.95;

      }
    }

    .content {


      p {
        @apply  text-justify text-xl text-greydark-500;
      }
    }

    .data {
      @apply flex-grow flex flex-row flex-wrap gap-4 sm:gap-0 sm:justify-between mt-20;

      .content {
        width: 30%;
        aspect-ratio: 1.22;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 10px 30px #4B2D2F1A;

        @apply bg-white text-2xl mb-10 text-black p-9 flex flex-col gap-10 justify-between items-start relative;

        .corner {
          width: 100%;
          height: 60px;
          background-repeat: no-repeat;
          background-size: contain;
          @apply rtl:bg-right bg-left;
        }

        &.even {
          transform: translateY(-20%);
        }

      }
    }
  }

}


@media (max-width: 640px) {
  .training-certificates {
    height: auto;
    @apply my-0 py-4;

    .wrapper {
      @apply mt-4;

      .title {
        width: 100%;
        margin-bottom: 37px;

        h2 {
          text-align: center;
        }
      }

      .content {
        width: 100%;

      }

      .data {
        @apply mb-16;

        .content {
          width: 100%;
          aspect-ratio: unset;

          &.even {
            transform: unset;
          }
        }
      }
    }

  }
}
