.team-members{
  @apply my-8 h-auto pb-12 relative pt-40;

  .bg {
    @apply absolute w-full sm:h-[75%] h-full bg-beige-500 z-0 top-0;
  }
  .wrapper{
    @apply z-10 flex flex-col items-center justify-start;

  .title {
    font-size: 60px;
    font-weight: bold;
   @apply tracking-[-3px] z-10 rtl:tracking-normal mb-20;
    line-height: 0.95;

  }
  .cards{
    @apply z-10 h-auto w-full flex flex-row  flex-wrap justify-between;
    .team-member-card{
      @apply flex-initial  sm:w-[30%] w-full mb-8  h-full  flex flex-col justify-start items-start;

      .image{
        @apply aspect-square  w-full mb-4;

      }
      .name{
        @apply  font-light w-full text-start text-2xl mb-3;
      }
      .position{
        @apply text-lg font-light text-center text-greydark-500;
      }


    }

  }
}
}
