.letter-from-ceo {
  @apply flex flex-col mx-auto items-start justify-start;

  height: auto;
  width: 100%;



  .content {

    @apply  w-full  flex flex-col sm:mb-32  items-start sm:justify-center justify-start;

    h2 {

      font-size: 60px;
      font-weight: bold;
     @apply tracking-[-3px] rtl:tracking-normal;
      line-height: 0.95;
      margin-bottom: 37px;

    }

    .body {
      // @apply text-greydark-500;
      letter-spacing: 0;
      font-size: 16px;
    }
    .image {
      width: 200px;
      height: auto;
      position: relative;


      img {

        width: 100%;
        height: auto;
      }
    }
  }
}

@media (max-width: 640px) {
  .letter-from-ceo {
    height: auto;
    margin: 70px 0;
    @apply flex-col-reverse;
    .content {
      width: 100%;
      margin-top: 37px;

      h2 {
        width: 100%;

      }

      .body {
        width: 100%;
      }

    }
  }



}
